.home-container {
  width: 100%;
  font-size: 8px;
}

.home-search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5px;
  width: 100vw;
  margin-bottom: 5px;
}
.home-search-content h1 {
  font-size: 30px;
  padding: 0 40px;
}

input::placeholder {
  font-size: 13px;
}

.form-container {
  width: 100%;
  text-align: center;
}

.input-container {
  position: relative;
  display: inline-block;
  width: 85%;
  max-width: 475px;
  min-width: 230px; /* Defina a largura máxima do campo de entrada conforme necessário */
}

.search-input {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ff7f00; /* Adicione estilos de borda conforme necessário */

  height: 36px; /* Defina a altura do campo de entrada conforme necessário */
  box-sizing: border-box;
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Ajuste a posição do ícone conforme necessário */
  transform: translateY(-50%);
  fill: #333; /* Cor do ícone */
  cursor: pointer;
  color: #2e2e2e;
  font-size: 20px;
}

.line {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: #ffbc79;
  margin: 20px 0;
}

@media (min-width: 375px) {
  .home-search-content h1 {
    font-size: 45px;
    padding: 0 60px;
    margin-bottom: 40px;
  }

  .search-input {
    height: 50px;
  }

  input::placeholder {
    font-size: 15px;
  }
}

@media (min-width: 425px) {
  .home-search-content h1 {
    font-size: 45px;
  }

  input::placeholder {
    font-size: 17px;
  }

  .line {
    display: flex;
    width: 576px;
  }
}
