@import './config-scss/variables.scss';
@import './config-scss/reset.scss';

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    background: var(--background-color);
}

main {
    margin: 0 auto;
    box-sizing: border-box;
}