.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FFB917;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {height: 25px;}

.Cidade {
  /*CIDADE PESQUISADA*/
  
}
.Div-search {
  align-items: center;
  justify-content: center;
}

.Input {
 border-right: hidden;
}

.Button {
  border-left: hidden;
  background-color: white;
}

.White-line {
  background-color: white;
  height: 1px; 
  width: 75%; 
  margin: 35px auto 20px auto; 

}  

h2 {
  height: 25px;
}

.Capitais{
  /*Capitais que aparecem*/
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
