<div class="col-12 d-flex align-items-center justify-content-center">
    <div class="col-12 col-xs-11 col-md-9 col-lg-7 col-xg-4 align-items-center justify-content-center">
        <div class="col-12 mb-3 m-0 align-items-center d-flex flex-column">
            <h1 class="col-12 col-sm-10 px-3 pt-4 my-0 title" [ngClass]="{
                'pb-3 text-start title-selected title-shadow': selectedCity, 
                'pb-4 text-center': !selectedCity}">
                Previsão do tempo
            </h1>
            <div *ngIf="selectedCity" class="mb-2 mb-sm-3 m-0 col-12 col-sm-10">
                <app-city-details-section class="m-0" [city]="selectedCity"
                    (clearSelected)="onClearSelected()"></app-city-details-section>
            </div>
            <div class="search-container d-flex col-10 py-1 px-2 mb-2 mb-sm-5 align-items-center justify-content-between"
                [formGroup]="formGroup">
                <input class="col-10 ml-1 input-search" formControlName="searchForm" type="text"
                    placeholder="Insira aqui o nome da cidade">
                <button (click)="onApiCall()" class="col-2 col-sm-1 button">
                    <fa-icon [icon]="glassIcon" class="glassIcon"></fa-icon>
                </button>
            </div>
        </div>
        <hr />
        <div class="px-4 px-sm-5 mx-0 box-bottom">
            <h1 class="text-left my-2">
                Capitais
            </h1>
            <div class="col-12 row d-flex align-items-center">
                <div *ngFor="let capital of capitals" class="col-12 col-sm-6 row d-flex">
                    <app-city-section [city]="capital" class="col-12"></app-city-section>
                </div>
            </div>
        </div>
    </div>
</div>