.line {
    color: var(--white);
}

.title {
    font-size: 34px;
    font-weight: 600;
}

.search-container {
    background-color: var(--white);
    height: 35px;
}

.box-bottom {
    min-height: 700px;
}

.input-search {
    border: none;
}

.button {
    background-color: transparent;
    border: none;
}

.glassIcon {
    color: #0000008f;
}